

header{
  background-image: url(bbbackground.jpg);
    width: 100%;
    margin-bottom: 1rem;

    align-items: center;
}

  nav {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        top: 0;
        z-index: 1000;
        padding: 0.625rem 0.625rem 0.625rem 0.625rem; 
     
        }

  nav ul {
    list-style-type: none; /* none, disc, circle, square */
    margin:0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    border: 0;
    padding: 0.625rem;
    margin: 0;
  }

  nav li a{
    text-decoration: none;
    color: black;
  }

  .button{
    background-color: rgb(231, 231, 66);
    border-radius: 1.25rem;
    padding: 0.75rem;
    margin-left: 0.188rem;
    margin-right: 0.188rem;
    color: black;
   
  }

 
  
.banner{
position: relative;
margin-bottom: 1.65rem;
padding-bottom: 1.65rem;

}

#herotexts{
    padding: 6.25rem 0 0 6.25rem;
    margin-bottom: 1rem;
 
}

.text3{
    font-family: "Lobster", serif;
    font-weight: 1000;
        font-style: normal;    
}

.text2{
    padding-bottom: 0;
    color: black;
}

.bannerpara{
    width: 10em;
  margin: 0.5em;
  white-space: normal;
  
  display: inline-block;
  line-break: normal;
}

#buynow{
    padding-top: 1.25rem;
}

  .buynow{
    border: solid 0.038rem grey;
    color: black;
    padding: 0.625rem;
    background-color: rgb(231, 231, 66);
    border-radius: 1.25rem;
    text-decoration: none;
   
  }

  main{
    grid-column: span 12;
  }

#section1{
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    padding-top: 1.25rem;
    background-color: #d8ede3;
}

.text1content{
    align-items: ;
}

.text1{
  text-align: center;
  color: rgb(45, 45, 45);
 padding-top: 4rem;

}
.lit{
  text-align: center;
  background-color: #d8ede3;
  max-width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

#sectioncontain{
  margin: auto;
  padding-top: 0.625rem;
  padding-bottom: 2.5rem;
}

.sutrisno{
width: 18.75rem;
height: auto;
padding: 0.625rem;
max-width:100%;
}

.habegger{
    width: 18.75rem;
    height: auto;
    padding: 0.625rem;
    max-width:100%;
}

.vovaflame{
    width: 18.75rem;
    height: auto;
    padding: 0.625rem; 
    max-width:100%;
}

#section2{
        display: flex;
        padding-top: 1.25rem;
        padding-right: 0.625rem;
        padding-left: 10rem;
        background-color: rgb(205, 205, 94);
    }


.korolyova{
    width: 31.25rem;
    height: auto;
    padding: 1.875rem 1.875rem 1.875rem 8.75rem;
    border-radius: 3.75rem;
    max-width:100%;
}

#content{
    padding: 12.5rem 0 3.125rem 5rem;
    text-align: right;
   align-items: center;
}


#section3{
    display: flex;
    padding-top: 1.25rem;
    padding-right: 0.625rem;
    padding-left: 10rem;
    background-color: rgb(205, 205, 94);
}


.amar{
    width: 31.25rem;
    height: auto;
    padding: 1.875rem 1.875rem 1.875rem 8.75rem;
    border-radius: 3.75rem;
    max-width:100%;
}

#content1{
    padding: 12.5rem 0 3.125rem 12.5rem;
    text-align: right;
   align-items: center;
}

footer{
    grid-column: span 12;
    background-color: #609966;
    color: white;
    width: auto;
}

.sectioncontainer3{
padding: 2.5rem;
text-align: center;
}


/*Media Queries (Responsive to Screen Width)*/

@media all and (min-width: 22.5rem){
  .banner{ text-align: left; margin-bottom: 1rem;}

  #herotexts{
      padding: 6.25rem 0 0 6.25rem;
      margin-bottom: 1rem;}
  
  .text3{
      font-family: "Lobster", serif;
      font-weight: 1000;
          font-style: normal;}
  
  
  .bannerpara{
      width: 10em;
    margin: 0.5em;
    white-space: normal;   
    display: inline-block;
    line-break: normal;}
  
  #buynow{
      padding-top: 1.25rem;  }
  
  
  .buynow{
      border: 0.038rem;
      color: black;
      padding: 0.625rem;
      background-color: rgb(231, 231, 66);
      border-radius: 1.25rem;
      text-decoration: none; }
  


    #herotexts{
      padding: 6.25rem 0 0 3.125rem;
      margin-bottom: 1rem; }

  .bannerpara{
    padding-bottom: 0.625rem;
    margin: auto;
    text-align:left;
    letter-spacing: .1rem;
    color: black;}

#section1{
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  padding-top: 1.25rem;
  background-color: #d8ede3;}

#sectioncontain{
  margin: auto;
  padding-top: 0.625rem;
  padding-bottom: 2.5rem;
  align-items: center;
}

#section2{
  display: flex;
  padding-top: 1.25rem;
  padding-right: 0.625rem;
  padding-right: 0.625rem;
  background-color: rgb(205, 205, 94);
}


.korolyova{
  width: 10rem;
  height: 70%;
  padding: 1rem 1rem 1rem 0.4rem;
  border-radius: 3.75rem;
  max-width:100%;
}

#content{
padding: 1rem 1rem 3.125rem 0;
text-align: right;

}

#section3{
  display: flex;
  padding-top: 1.25rem;
  padding-right: 0.625rem;
  padding-left: 8rem;
  background-color: rgb(205, 205, 94);
}


.amar{
  width: 10rem;
  height: 70%;
  padding: 1rem 1rem 1rem 0.4rem;
  border-radius: 3.75rem;
  max-width:100%;
}

#content1{
  padding: 1rem 0 3.125rem 1rem;
  text-align: left;

}

@media all and (min-width: 50rem){



  header{width: 100%;margin-bottom: 1rem; } 
   main{ align-items: center;} 
   .content{padding: 50rem;}
   .content1{padding: 50rem;}
   #section3{ display: span 8; }
   .text2{ padding-right: 3rem;}
   .padding1{   padding-right: 3rem;}
   .padding2{   padding-right: 3rem;}
   #section1{   padding-top: 3rem; display: flex; grid-auto-columns: 1fr;}
   #sectioncontain{padding-top: 3rem;  grid-auto-columns: 1fr;}
  footer{text-align: center;}
  
  }

 

  



/*

padding-left: 2.5rem;
padding-top: 3.125rem;
padding-bottom: 6.25rem;


*/
